.higlight-cell {
  background: red;
  width:  30px;
  height: 65px;
    border:1px solid black;
}
.cell {
  background: yellow;
  width:  30px;
  height: 65px;
  border:1px solid black;
}
.cell-head {
  /*background: orange;*/

  width:  30px;
  height: 50px;
  border-right:2px solid black;
}
.allday {
  background: green;
  width:  70px;
  height: 65px;
  border:1px solid black;
}
.days {
  text-align: center;
  background: grey;
  width:  50px;
  height: 65px;
  border:1px solid black;
  color:white;
  font-size: 20px;
}
.save-btn{
  background:green;
  /*float:right;*/
  height:50px;
  width:200px;
  margin-top:50px;
}
.output{
  width:70%;
  margin-top:50px;
}
.vertical{
  font: 16px Georgia, Serif;
  padding: 5px;
  /*float:left;*/
  /*margin: 0 10px 0 0;*/
  -webkit-writing-mode: vertical-rl;
    transform: rotate(180deg);
}
/*span{
  -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}*/
